@charset "UTF-8";

@import "./reset";

$red: #e66;
$white: #ddd;
$yellow: #ea3;

body {
  cursor: default;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  & &__board {
    text-align: center;

    p {
      margin-top: 20px;
      line-height: 1.7;
    }
  }

  & &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  & &__button {
    align-items: center;
    background-color: $yellow;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: calc(100% / 3.2);

    &_selected {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  & &__player {
    font-size: 18px;
    padding: 30px;
    text-align: center;

    h3 {
      font-size: 32px;
    }

    p {
      margin: 15px 0;
    }
  }
}

.board {
  &:not(:root) {
    background-color: $red;
    display: grid;
    grid-template-columns: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px;
    padding: 40px;
    position: relative;
  }

  &_stone {
    cursor: pointer;
  }

  &_horizon {
    cursor: url(https://placehold.jp/eeaa33/eeaa33/110x10.png) 30 5, auto;
  }

  &_vertical {
    cursor: url(https://placehold.jp/eeaa33/eeaa33/10x110.png) 5 30, auto;
  }

  & &__item {
    //grid-area: i;
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: center;
    list-style: none;
  }
}

.exist {
  background-color: $yellow;
}

.stone {
  border-radius: 50%;
  height: 30px;
  width: 30px;

  &_p1 {
    background-color: $yellow;
  }

  &_p2 {
    background-color: $white;
  }
}

.modal {
  position: absolute;
  width: 50%;
  height: 50%;
}

.init-modal {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__button {
    align-items: center;
    background-color: $yellow;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    height: 50px;
    width: 240px;
  }

  &__form {
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
  }

  &__heading {
    color: $red;
    font-size: 48px;
    margin-bottom: 40px;
  }
}
