@charset "UTF-8";

@import "./reset";

$red: #e66;
$white: #ddd;
$yellow: #ea3;

body {
  cursor: default;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  & &__board {
    text-align: center;

    p {
      margin-top: 20px;
      line-height: 1.7;
    }
  }

  & &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  & &__button {
    align-items: center;
    background-color: $yellow;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    width: calc(100% / 3.2);

    &_selected {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  & &__player {
    font-size: 18px;
    padding: 30px;
    text-align: center;

    h3 {
      font-size: 32px;
    }

    p {
      margin: 15px 0;
    }
  }
}

.board {
  &:not(:root) {
    background-color: $red;
    display: grid;
    grid-template-columns: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px;
    padding: 40px;
    position: relative;
  }

  &_stone {
    cursor: pointer;
  }

  &_horizon {
    cursor: url(https://placehold.jp/eeaa33/eeaa33/110x10.png) 30 5, auto;
  }

  &_vertical {
    cursor: url(https://placehold.jp/eeaa33/eeaa33/10x110.png) 5 30, auto;
  }

  & &__item {
    //grid-area: i;
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: center;
    list-style: none;
  }
}

.exist {
  background-color: $yellow;
}

.stone {
  border-radius: 50%;
  height: 30px;
  width: 30px;

  &_p1 {
    background-color: $yellow;
  }

  &_p2 {
    background-color: $white;
  }
}

.modal {
  position: absolute;
  width: 50%;
  height: 50%;
}

.init-modal {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__button {
    align-items: center;
    background-color: $yellow;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
    width: 240px;
  }

  &__form-area {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    width: 80%;
  }

  &__form {
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    margin-right: 5px;
    padding: 10px 20px;
    width: 100%;
  }

  &__heading {
    color: $red;
    font-size: 48px;
    margin-bottom: 40px;
  }

  &__submit {
    background-color: $yellow;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    right: 6px;
    padding: 10px;
    position: absolute;
  }

  &__text {
    font-size: 20px;

    h4 {
      color: $yellow;
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
}

.loading-container {
  background: $red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#loader {
  //	border: solid;  /*to test position*/
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px -85px;
}

#loader div {
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: animate 1.4s ease infinite;
}

#loader div:nth-child(2) {
  margin-left: 30px;
  -webkit-animation-delay: 0.08s;
}

#loader div:nth-child(3) {
  margin-left: 60px;
  -webkit-animation-delay: 0.16s;
}

#loader div:nth-child(4) {
  margin-left: 90px;
  -webkit-animation-delay: 0.24s;
}

#loader div:nth-child(5) {
  margin-left: 120px;
  -webkit-animation-delay: 0.32s;
}

#loader div:nth-child(6) {
  margin-left: 150px;
  -webkit-animation-delay: 0.4s;
}

@-webkit-keyframes animate {
  0% {
    left: 0px;
    top: 0px;
  }
  5% {
    left: -2px;
    top: 4px;
    width: 24px;
    height: 16px;
    -webkit-filter: blur(0.1px);
  }
  10% {
    left: -1px;
    top: 4px;
    width: 22px;
    height: 18px;
    -webkit-filter: blur(0.1px);
  }
  /*halfway up*/
  15% {
    left: 1px;
    top: -17px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.3px);
  }
  /*top*/
  22% {
    left: 0px;
    top: -34px;
    width: 20px;
    height: 20px;
    -webkit-filter: blur(0.2px);
  }
  /*halfway down*/
  29% {
    left: 1px;
    top: -17px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.3px);
  }
  /*bottom*/
  34% {
    left: 1px;
    top: 0px;
    width: 18px;
    height: 22px;
    -webkit-filter: blur(0.2px);
  }
  /*elastic bottom*/
  40% {
    left: -1px;
    top: 4px;
    width: 22px;
    height: 18px;
    -webkit-filter: blur(0.1px);
  }
  /*end*/
  43% {
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-filter: blur(0px);
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
